<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="view_notification">view notificatio officer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="add_subsidy">add subsidy</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_subsidy">view subsidy</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="add_stock">add stock</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_stock">view stock</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="view_stock_request">view stock request</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="add_fertilizer">add fertilizer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_fertilizer">view fertilizer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="add_success_story">add success story</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_success_story">view success story</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="send_notification">send notification</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="logout">send notification</a></th>
    </tr>
  </table>
</form>
</body>
</html>
