{% extends 'Agriculture_office/officer_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="background-color: #198754;color: white">
      <th scope="col">Sl.No</th>
{#      <th scope="col">Officer Info</th>#}
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
{#      <td>&nbsp;</td>#}
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.type }}</td>
      <td>&nbsp;{{ i.price }}</td>
      <td>&nbsp;{{ i.quantity }}</td>
      <td>&nbsp;<img src="{{ i.image }}" alt="" width="100px" height="100px"/></td>
      <td><p><a href="/update_stock/{{ i.id }}#ppp" class="btn btn-outline-success">Update</a></p>
      <p><a href="/delete_stock/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}